# Nuxt dev/build outputs
frontend/.output
frontend/.data
frontend/.nuxt
frontend/.nitro
frontend/.cache
frontend/dist

# Node dependencies
frontend/node_modules

# Logs
logs
*.log

# Misc
.DS_Store
backend/.DS_Store
/frontend/.DS_Store
.fleet
.idea
.idea/
# Local env files
.env
.env.*
!.env.example
/backend/.env
/backend/.env.dev
/backend/.env.test
# Git files
*.seed
*.pid
.swpdev-env
*.bak
*.orig
*.rej
*.~*

vendor
api/vendor
api/var
public/upload/*
frontend/.pnpm-store/
*/*.sql
*.zip
data.json

# Fix prod
/frontend/public/
images
index.html
_nuxt

#Docker
docker*.yml.bak.*
*.override.yml
#dev environnement
traefik/
