<IfModule mod_rewrite.c>
    RewriteEngine On

    # Ignore les fichiers et dossiers existants dans /api/public/
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    # Redirige /api/ et tout ce qui suit vers index.php
</IfModule>