# usage: docker compose -f docker-compose.yml -f docker-compose.dev.yml --env-file ./.env.dev up -d --build
networks:
  traefik:
    external: true

services:
  nuxt:
    env_file: ./.env
    networks: [traefik]
    volumes:
      - ./frontend:/app
      - /app/node_modules
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=traefik"
      - "traefik.http.routers.asturing-front.rule=Host(`${DEV_DOMAIN}`) && PathPrefix(`/`)"
      - "traefik.http.routers.asturing-front.entrypoints=web"
      - "traefik.http.routers.asturing-front.priority=10"
      - "traefik.http.services.asturing-front.loadbalancer.server.port=${NITRO_PORT}"
      - "traefik.http.middlewares.asturing-auth.basicauth.users=${TRAEFIK_BASIC_AUTH_USERS}"
      - "traefik.http.routers.asturing-front.middlewares=asturing-auth"
    environment:
      HOST: ${HOST}
      NITRO_PORT: ${NITRO_PORT}
      NUXT_PUBLIC_API_BASE: ${NUXT_PUBLIC_API_BASE}
      NODE_ENV: ${NODE_ENV}
      NUXT_TELEMETRY_DISABLED: ${NUXT_TELEMETRY_DISABLED}

  symfony:
    env_file: ./.env
    networks: [traefik]
    volumes:
      - ./backend:/app
      - symfony_vendor:/app/vendor
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=traefik"
      - "traefik.http.routers.asturing-api.rule=Host(`${DEV_DOMAIN}`) && PathPrefix(`/api`)"
      - "traefik.http.routers.asturing-api.entrypoints=web"
      - "traefik.http.routers.asturing-api.priority=20"
      - "traefik.http.services.asturing-api.loadbalancer.server.port=80"
    environment:
      APP_ENV: ${APP_ENV}
      APP_SECRET: ${APP_SECRET}
      DATABASE_URL: ${DATABASE_URL}
      TRUSTED_PROXIES: ${TRUSTED_PROXIES}
      TRUSTED_HOSTS: ${TRUSTED_HOSTS}
      # CORS_ALLOW_ORIGIN: ${CORS_ALLOW_ORIGIN}

  mysql:
    # si tu veux réutiliser les mêmes vars ici
    env_file: ./.env
    networks: [traefik]

volumes:
  symfony_vendor:
