volumes:
  db_data:

services:
  nuxt:
    restart: always
    build:
      context: ./frontend
      dockerfile: Dockerfile
    environment:
      HOST: ${HOST}
      NITRO_HOST: ${NITRO_HOST}
      NITRO_PORT: ${NITRO_PORT}

  symfony:
    restart: always
    build:
      context: ./backend
      dockerfile: Dockerfile
    environment:
      DATABASE_URL: ${DATABASE_URL}
    depends_on:
      mysql:
        condition: service_healthy

  mysql:
    restart: always
    image: mysql:8.0
    environment:
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    volumes:
      - db_data:/var/lib/mysql
    healthcheck:
      test: ["CMD","mysqladmin","ping","-h","localhost"]
      timeout: 20s
      retries: 10
