services:
  nuxt:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    networks:
      - traefik

  symfony:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "8000:80"
    networks:
      - traefik
    environment:
      DATABASE_URL: mysql://asturingudb:userpass@mysql:3306/asturingdb
    depends_on:
      mysql:
        condition: service_healthy

  mysql:
    image: mysql:8.0
    environment:
      MYSQL_DATABASE: asturingdb
      MYSQL_USER: asturingudb
      MYSQL_PASSWORD: userpass
      MYSQL_ROOT_PASSWORD: rootpass
    networks:
      - traefik
    volumes:
      - db_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost"]
      timeout: 20s
      retries: 10

volumes:
  db_data:

networks:
  traefik:
    external: true